POSTGRES_DB=squirrelvault
POSTGRES_USER=squirrelvault
POSTGRES_PASSWORD=changeme

DB_HOST=postgres
DB_PORT=5432
DB_NAME=squirrelvault
DB_USER=squirrelvault
DB_PASSWORD=changeme

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=changeme

OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
OTEL_SERVICE_NAME=squirrelvault
